/*#!SIEGECSS 0.1*/

.Widget
{
    //background-color: #383838;
    color: #EEFFEE;

    font-family: Verdana, Sans-serif;
    font-size: 12px;

    padding: 4px 6px;
    //border: 1px solid #000000;
}

.Frame
{
    background-color: #383838;
}

.Window
{
    padding: 0px;

    border: 1px solid #000000;
}

.TabFrame
{
    background-color: #414141;

    border-color: #1E1E1E;
}

.Viewport
{
}

.MenuItem
{
    color: #BAC9BA;

    font-size: 11px;
}

.MenuSeparator
{
}

.Bar
{
}

.TabBar
{
}

.TitleBar
{
    background-color: #2A2A2A;

    text-align: center;

    border-bottom: thin solid #000000;
}

.ToolBar
{
}

.MenuBar
{
    background-color: #323232;
}

.StatusBar
{
}

.ScrollBar
{
}

.HScrollBar
{
}

.VScrollBar
{
}

.TextBox
{
    background-color: #4D4D4D;

    padding: 4px 2px 3px 2px;

    border: thin solid #000000;
}

.TextArea
{
}

.Label
{
}

.FadingLabel
{
}

.Button
{
    background-color: #414141;

    font-size: 11px;

    border: thin outset #000000;
}

.Button#Over
{
}
.Button#Down
{
    border: thin inset #000000;
}

.TitleButton
{
}

.ToggleButton
{
}

.RadioButton
{
}

.TabButton
{
}

